#show-ticket {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

.result{
  display: none;
}

.jumbotron h1 {
  color:white;
  border-left:15px solid #63a86b;
}


.jumbotron h2 {
  color:white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black
}

.jumbotron h3 {
  color:white;
  border-bottom:1px solid white;
}

label {
  color:white;
  -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: black

}

li {
  color: white;
}

.contact {
  color:white;
}

.jumbotron{
  margin-top: 200px;
  box-shadow: 10px 10px 5px #000;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+49,63a86b+49 */
background: #3f4c6b; /* Old browsers */
background: -moz-linear-gradient(top, #3f4c6b 0%, #3f4c6b 49%, #63a86b 49%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #3f4c6b 0%,#3f4c6b 49%,#63a86b 49%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #3f4c6b 0%,#3f4c6b 49%,#63a86b 49%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#63a86b',GradientType=0 ); /* IE6-9 */
}

body {
  background-color:#9aa7bc;
}

strong {
  border-bottom:2px solid white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

button {
  box-shadow: 2px 2px 2px #000;
}

/*input#name {
  box-shadow: 2px 2px 2px #000;
}

input#deposit {
  box-shadow: 2px 2px 2px #000;
}

input#withdraw {
  box-shadow: 2px 2px 2px #000;
}

input#initial {
  box-shadow: 2px 2px 2px #000;*/
}
